.app-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    font-family: inherit;
    text-decoration: none;

    &--primary {
        background-color: #D8FF99;
        color: #1A1A1A;

        &:hover:not(:disabled) {
            background-color: #8eac5f;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        }
    }

    &--secondary {
        background-color: #33333375;
        color: #ffffff;
        backdrop-filter: blur(4px);
    }

    &--outline {
        background-color: transparent;
        border: 2px solid #D8FF99;
        color: #D8FF99;

        &:hover:not(:disabled) {
            background-color: #D8FF99;
            color: #1A1A1A;
        }
    }

    &--light-outline {
        background-color: rgba(216, 255, 153, 0.1);
        backdrop-filter: blur(10px);
        border: 1px solid #d8ff9930;;
        color: #D8FF99;
    }

    &--small {
        padding: 8px 16px;
        font-size: 14px;
    }

    &--medium {
        padding: 16px 24px;
        font-size: 18px;
    }

    &--large {
        padding: 16px 32px;
        font-size: 18px;
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        transform: none !important;
    }
}