* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

main, .container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    background-color: #1A1A1A;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    
    &:hover {
        color: #D8FF99;
    }
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}

@media (max-width: 999px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    .container {
        padding: 0 24px;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 14px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    .container {
        padding: 0 16px;
    }
}